[submodule "Nviron/vendor/spdlog"]
	path = Nviron/vendor/spdlog
	url = https://www.github.com/gabime/spdlog
[submodule "Nviron/vendor/GLFW"]
	path = Nviron/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Nviron/vendor/imgui"]
	path = Nviron/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
